/* Réinitialiser les marges et le padding */
* {
    margin: 0;
    padding: 0;
}

/* Mise en place du body et fond */
html, body {
    height: 100%;
    touch-action: none;
    font-family: Arial, sans-serif;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    overflow: hidden;
}

/* Style du titre */
h1 {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 9vw;
    color: rgb(70, 70, 70);
    text-transform: uppercase;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #8c00b3, #ffa424);
    background-clip: text;
    color: transparent;
    border-right: 2px solid #fff;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}

/* Conteneur principal */
#drag {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Conteneur des images */
#spin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 80%; /* Largeur pour ajuster l'espace */
    height: 200px;
    margin-top: 10%;
}

/* Animation des images en vagues */
.portfolio-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    opacity: 0;
    transform: translateY(50px); /* Départ plus bas pour l'effet de vague */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    margin: 0 20px;
}

/* Animation pour les images */
#spin img:nth-child(1) {
    animation: wave 1s ease-out forwards 0.5s;
}

#spin img:nth-child(2) {
    animation: wave 1s ease-out forwards 1s;
}

#spin img:nth-child(3) {
    animation: wave 1s ease-out forwards 1.5s;
}

#spin img:nth-child(4) {
    animation: wave 1s ease-out forwards 2s;
}

#spin img:nth-child(5) {
    animation: wave 1s ease-out forwards 2.5s;
}

/* Animation de vague */
@keyframes wave {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Effet de fond */
#ground {
    width: 100%;
    height: 20px;
    background: radial-gradient(circle, #9993, transparent);
    position: absolute;
    bottom: 0;
}
