*{
    margin: 0;
    padding: 0;
}
html , body {
    height: 100%;
    touch-action: none;
}

body{
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #191919;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: transform 1s ease-out, opacity 0.5s ease-out;
    opacity: 1;
}

h1 {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 0;           
    left: 50%;        
    transform: translateX(-50%);   
    color: white; 
    font-size: 9vw;  
    color: rgb(70, 70, 70);
    text-transform: uppercase;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Laissez le texte occuper toute la largeur */
    height: 100%;
    background: linear-gradient(to right, #8c00b3, #ffa424); /* Dégradé de couleur */
    -webkit-background-clip: text; /* Applique le fond uniquement au texte */
    background-clip: text; /* Support pour les navigateurs non-webkit */
    color: transparent; /* Rendre le texte transparent pour que le fond soit visible */
    border-right: 2px solid #fff; /* Bordure droite du texte */
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90%{
        width: 100%;
    }
}


#drag, #spin{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
    transform: rotateX(-10deg);
}

.portfolio-img {
    width: 100%;  /* L'image prend toute la largeur */
    height: 100%; /* L'image prend toute la hauteur */
    object-fit: cover; /* Couvre l'espace sans déformer l'image */
    transition: opacity 0.3s ease;
}


#drag img, #spin video{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 #fff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}

#drag img:hover, #spin video:hover{
    -webkit-box-shadow: 0 0 15px #fffd;
    box-shadow: 0 0 15px #fffd;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
    cursor: pointer;
}


#ground{
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(90deg);
    transform: translate(-50%, -50%) rotateX(90deg);
    background: -webkit-radial-gradient(center center, farthest-side, #9993, transparent );
}

@-webkit-keyframes spin {
    from{
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    } to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes spin {
    from{
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    } to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@-webkit-keyframes spinRevert {
    from{
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    } to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@keyframes spinRevert {
    from{
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    } to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}