/* Réinitialiser les marges et le padding */
* {
    margin: 0;
    padding: 0;
}

/* Mise en place du body et fond */
html, body {
    height: 100%;
    touch-action: none;
    font-family: Arial, sans-serif;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    overflow: hidden;
}

/* Style du titre */
.text-box{
    color: #fff;
    position: absolute;
    top: 8%;
}

.text-box p{
    font-size: 50px;
    font-weight: 600;
}

.text-box h1{
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(images/battement-de-coeur.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    background-size: cover;
    animation: back 20s linear infinite;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.text-box h3{
    font-size: 40px;
    font-weight: 500;
}


/* Conteneur principal */
#drag {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Conteneur des images */
#spin {
    display: flex;
    gap: 10vh;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%; /* Largeur pour ajuster l'espace */
    height: 200px;
    margin-top: 10%;
    flex-wrap: wrap; /* Pour que les éléments s'ajustent automatiquement */
}

/* Animation des images en vagues */
.portfolio-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    opacity: 0;
    transform: translateY(50px); /* Départ plus bas pour l'effet de vague */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    margin: 10px;
}

/* Animation pour les images */
#spin img:nth-child(1) {
    animation: wave 1s ease-out forwards 0.5s;
}

#spin img:nth-child(2) {
    animation: wave 1s ease-out forwards 1s;
}

#spin img:nth-child(3) {
    animation: wave 1s ease-out forwards 1.5s;
}

#spin img:nth-child(4) {
    animation: wave 1s ease-out forwards 2s;
}

#spin img:nth-child(5) {
    animation: wave 1s ease-out forwards 2.5s;
}

/* Animation de vague */
@keyframes wave {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#spin a {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Style des labels */
label {
    color: white; /* Couleur du texte */
    font-size: 1.2rem; /* Taille du texte */
    margin-top: 8px; /* Espace entre l'image et le label */
    font-weight: bold;
    text-transform: uppercase;
}
