*{
    margin: 0;
    padding: 0;  
  }
  html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f0f0f0;
  }
  body{
    background: #191919;
    color: #a2a5b3;
    align-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  nav{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    color: #fff;
  }

  nav .mainMenu{
    display: flex;
    list-style: none;
  }

  nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
  }

  nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }

  nav .mainMenu .closeMenu{
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
    font-size: 2rem;
    cursor: pointer;
  }

  @media(max-width: 2000px) {

    

    nav .mainMenu{
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(0,0,0,0.5);
      transition: top 1s ease;
      display: none;
    }

    nav.mainLenu .closeMenu{
      position: absolute;
      top: 20px;
      right: 20px;
    }
    nav .openMenu{
      display: block;
    }
    nav .mainMenu li a:hover{
      background: none;
      color: #d65900;
      font-size: 1.6rem;
    }
  }

  h1{
    color: white;
  }

  .presentation{
    position: relative;
    top: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    z-index: 1;
  }
  .card{
    margin: 0 auto;
    padding: 2em;
    width: 390px;
    height: auto;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    position: relative;
  }
  
  .card::after, .card::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(#851cfd, #ee00ff, #ff0095, #ff2200, #851cfd);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
  }
  .card::before{
    filter: blur(1.5rem);
    opacity: 0.5;
  }
  @keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
  }

#card1{
    grid-row: 1;
    grid-column: 1 / span 1;
}

#card2{
    grid-row: 1;
    grid-column: 2 / span 1;
}

#card3{
    grid-row: 1;
    grid-column: 3 / span 1;
}

#card4{
    grid-row: 2;
    grid-column: 1 / span 3;
}

.bulles{
    position: relative;
    display: flex;
    gap: 25px;
}

.bulles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #ba0aff;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #c60087,
    0 0 50px #ba0aff,
    0 0 100px #ba0aff;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bulles span:nth-child(even){
    background-color: #d66f00;
    box-shadow: 0 0 0 10px #d65900,
    0 0 50px #d66f00,
    0 0 100px #d66f00;
}

@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}

