*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../images/sunset.jpeg);
  background-size: cover;
}

.cover{
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

h1{
  position: absolute;
  top: 40px;
  justify-content: center;
  font-size: 50px;
}

.container{
  position: absolute;
  overflow-y: scroll;
  display: grid;
  width: 80%;
  border-radius: 10px;
  height: 350px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.competences{
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
}

.titre{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.img{
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background: linear-gradient(#8b6cfe, #d6009d);
  display: flex;
  justify-content: center;
  align-items: center;
}
.titre h3{
  width: 50px;
  margin: 0.5rem;
}

.icon{
  width: 50px;
}

nav{
    position: fixed; 
    top: 0;
    left: 0;
    padding: 5px;
    color: #fff;
    z-index: 10;
  }
  
  nav .mainMenu{
    display: flex;
    list-style: none;
  }
  

  nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
  }

  nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }

  nav .mainMenu .closeMenu{
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
    font-size: 2rem;
    cursor: pointer;
  }

  @media(max-width: 2000px) {
    nav .mainMenu{
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(0,0,0,0.5);
      transition: top 1s ease;
      display: none;
    }

    nav.mainLenu .closeMenu{
      position: absolute;
      top: 20px;
      right: 20px;
    }
    nav .openMenu{
      display: block;
    }
    nav .mainMenu li a:hover{
      background: none;
      color: #d65900;
      font-size: 1.6rem;
    }
}
